/*
|--------------------------------------------------------------------------
| Main scss variables
|--------------------------------------------------------------------------
|
| When importing main, the underscore is left out to prevents the SCSS
| compiler from generating a CSS file from it, so that's why this was named
| '_main'.
|
| Mentions:
|   - Here will be added all the variables used throughout the project and
|   any sass functions.
|
*/
/* Articles */
.article {
  /* Everything related to the article element itself(mini or not) */
  position: relative;
  background-color: #292e33;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 2px solid #303840;
  -webkit-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
}

.article--mini {
  cursor: pointer;
}

.article--mini:hover {
  border-color: #528BFF;
}

.article--mini:hover__cover_image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article--mini__bookmark {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}

.article--mini__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.article__container {
  position: relative;
  padding: 1rem;
}

.article__cover {
  height: 350px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 2px solid #303840;
}

.article__cover_image {
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.article__likes {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__likes p {
  font-size: 1rem;
}

.article__likes span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.article__bookmark {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.article__info time {
  display: block;
}

.article__info .avatar {
  margin-right: 0.5rem;
}

.article__title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
}

.article__description {
  margin-top: 1rem;
}

.read {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.read .article {
  width: 100%;
}

.read .article__cover {
  position: relative;
}

.read .article__cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.read .article__container .article__tags {
  margin-bottom: 2rem;
}

.read__actions {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read__actions_like, .read__actions_bookmark {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.read__actions .muted {
  color: #fff;
}

.read__author > div {
  background-color: #292e33;
  border: 2px solid #303840;
  border-radius: 0.25rem;
}

.read__author > div:first-child {
  padding: 1rem;
  margin-bottom: 1rem;
}

.read__author > div:first-child p {
  margin-bottom: 0.5rem;
}

.read__author > div:first-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.read__author > div:first-child > div .avatar {
  margin-right: 0.5rem;
}

.read__author > div:nth-child(2) h3 {
  padding: 1rem;
  margin-bottom: 0;
  border-bottom: 2px solid #303840;
}

.read__author > div:nth-child(2) > div > div {
  padding: 1rem;
  border-bottom: 2px solid #303840;
}

.read__author > div:nth-child(2) > div > div:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 992px) {
  .read {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .read .article {
    width: 65%;
    margin: 0 1rem 0 0;
  }
  .read__actions {
    width: 4rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
  }
  .read__author {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=articles.css.map */