/*
|--------------------------------------------------------------------------
| Main scss variables
|--------------------------------------------------------------------------
|
| When importing main, the underscore is left out to prevents the SCSS
| compiler from generating a CSS file from it, so that's why this was named
| '_main'.
|
| Mentions:
|   - Here will be added all the variables used throughout the project and
|   any sass functions.
|
*/
/* Articles */
.article {
  /* Everything related to the article element itself(mini or not) */
  position: relative;
  background-color: #282828;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.article--mini {
  cursor: pointer;
}

.article--mini:hover {
  border: 2px solid #528BFF;
}

.article--mini:hover .article__cover_image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article--mini__bookmark {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}

.article--mini__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.article__container {
  position: relative;
  padding: 1rem;
}

.article__cover {
  position: relative;
  height: 350px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.article__cover_image {
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.article__cover_image:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.article__likes {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__likes p {
  font-size: 1rem;
}

.article__likes span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.article__bookmark {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.article__info time {
  display: block;
}

.article__info .avatar {
  margin-right: 0.5rem;
}

.article__title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
}

.article__description {
  margin-top: 1rem;
}

.article__content {
  margin-top: 1rem;
}

.article__content img {
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
}

.article__content pre code {
  max-height: 350px;
  overflow-y: auto;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}

.article__content pre code::-webkit-scrollbar {
  width: 1rem;
}

.article__content pre code::-webkit-scrollbar-track {
  background: #1d2126;
}

.article__content pre code::-webkit-scrollbar-thumb {
  background: #528BFF;
  border-radius: 1rem;
}

.read {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.read .article {
  width: 100%;
}

.read__actions {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read__actions_like, .read__actions_bookmark {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.read__actions .muted {
  color: #fff;
}

.read__author > div {
  background-color: #282828;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}

.read__author > div:first-child {
  padding: 1rem;
  margin-bottom: 1rem;
}

.read__author > div:first-child p {
  margin-bottom: 0.5rem;
}

.read__author > div:first-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.read__author > div:first-child > div .avatar {
  margin-right: 0.5rem;
}

.read__author > div:last-child h3 {
  padding: 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid #fff;
}

.read__author > div:last-child > div > div {
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.read__author > div:last-child > div > div:last-child {
  border-bottom: none;
}

.write__edit {
  margin-bottom: 1rem;
  overflow-y: auto;
  max-height: calc(100vh - 15rem);
}

.write__edit::-webkit-scrollbar {
  width: 1rem;
}

.write__edit::-webkit-scrollbar-track {
  background: #1d2126;
}

.write__edit::-webkit-scrollbar-thumb {
  background: #528BFF;
  border-radius: 1rem;
}

.write__edit {
  background-color: #282828;
  padding: 1rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.write__actions {
  text-align: right;
  margin-bottom: 1rem;
}

.write__input {
  font-size: 2rem;
}

.write__textarea {
  height: auto;
  font-size: 1rem;
  resize: none;
}

.write__input, .write__textarea {
  width: 100%;
  background-color: unset;
  border: none;
  margin: 2rem 0;
  line-height: 2rem;
  color: #B2B6BB;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.write__input::-webkit-input-placeholder, .write__textarea::-webkit-input-placeholder {
  font-size: 2rem;
  color: #B2B6BB;
}

.write__input:-ms-input-placeholder, .write__textarea:-ms-input-placeholder {
  font-size: 2rem;
  color: #B2B6BB;
}

.write__input::-ms-input-placeholder, .write__textarea::-ms-input-placeholder {
  font-size: 2rem;
  color: #B2B6BB;
}

.write__input::placeholder, .write__textarea::placeholder {
  font-size: 2rem;
  color: #B2B6BB;
}

.write__tags .tag {
  margin: 0;
}

.write__tags p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.write__tags > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.write__tags > div:last-of-type {
  margin-bottom: 0;
}

.write__tags input {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem 0 0;
}

.write__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.write__cover input {
  display: none;
}

.write__cover_preview {
  width: 300px;
  height: 150px;
  margin-right: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.25rem;
}

.write__cover_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tag {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0.5rem 0 0;
}

.tag--html {
  background-color: #F53900;
}

.tag--css {
  background-color: #2965F1;
}

.tag--javascript {
  background-color: #F7E018;
  color: #000;
}

.tag--php {
  background-color: #8993BE;
  color: #232531;
}

.tag--sql {
  background-color: #ED1556;
}

.tag--beginner {
  background-color: #2DB470;
  color: #000;
}

.tag--advanced {
  background-color: #100B00;
}

a.tag:hover {
  color: currentColor;
}

@media only screen and (min-width: 992px) {
  .read {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .read .article {
    width: 65%;
    margin: 0 1rem 0 0;
  }
  .read__actions {
    width: 4rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
  }
  .read__author {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=articles.css.map */