@import './globals';

/* Articles */

.article {
  /* Everything related to the article element itself(mini or not) */
  position: relative;
  background-color: $backgroundColor;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: $boxShadow;
  &--mini {
    cursor: pointer;
    &:hover {
      border-color: $blue;
      &__cover_image {
        transform: scale(1.1);
      }
    }
    &__bookmark {
      position: absolute;
      bottom: 1.5rem;
      right: 1rem;
    }
    &__link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  &__container {
    position: relative;
    padding: 1rem;
  }
  &__cover {
    height: 350px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: 1px solid #fff;
    &_image {
      height: inherit;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: transform .4s;
    }
  }
  &__likes {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    p {
      font-size: 1rem;
    }
    span {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }
  }
  &__bookmark {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    time {
      display: block;
    }
    .avatar {
      margin-right: 0.5rem;
    }
  }
  &__title {
    margin-bottom: 0.5rem;
    font: {
      weight: bold;
      size: 2.5rem;
    }
    color: #fff;
  }
  &__description {
    margin-top: 1rem;
  }
}

.read {
  position: relative;
  flex-direction: column;
  .article {
    width: 100%;
    &__cover {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0 , 0, .5);
      }
    }
    &__container .article__tags {
      margin-bottom: 2rem;
    }
    &__content {
      img {
        max-width:250px;
        max-height:250px;
        width: auto;
        height: auto;
      }
      pre code {
        max-height: 350px;
        overflow-y: auto;
        box-shadow: $boxShadow;
        border-radius: 0.25rem;
        &::-webkit-scrollbar {
          width: 1rem;
        }
        &::-webkit-scrollbar-track {
          background: #1d2126;
        }
        &::-webkit-scrollbar-thumb {
          background: $blue;
          border-radius: 1rem;
        }
      }
    }
  }
  &__actions {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_like, &_bookmark {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
    .muted {
      color: #fff;
    }
  }
  &__author {
    > div {
      background-color: $backgroundColor;
      box-shadow: $boxShadow;
      border-radius: 0.25rem;  
      &:first-child {
        padding: 1rem;
        margin-bottom: 1rem;
        p {
        margin-bottom: 0.5rem;  
        }
        > div {
          display: flex;
          align-items: center;  
          margin-bottom: 1rem;
          .avatar {
            margin-right: 0.5rem;  
          }
        }
      }
      &:last-child {
        h3 {
          padding: 1rem;
          margin-bottom: 0;
          border-bottom: 1px solid #fff;
        }
        > div > div {
          padding: 1rem;
          border-bottom: 1px solid #fff;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }  
  }
}

@media only screen and (min-width: 992px) {
  .read {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .article {
      // to create the gap between the asides and article
      width: 65%;
      margin: 0 1rem 0 0;
    }
    &__actions {
      width: 4rem;
      align-self: flex-start;
      position: -webkit-sticky;
      position: sticky;
      top: 7rem;
    }
    &__author {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
    }
  }
}
