/*
|--------------------------------------------------------------------------
| Main scss variables
|--------------------------------------------------------------------------
|
| When importing main, the underscore is left out to prevents the SCSS
| compiler from generating a CSS file from it, so that's why this was named
| '_main'.
|
| Mentions:
|   - Here will be added all the variables used throughout the project and
|   any sass functions.
|
*/
/* Articles */
.article {
  /* Everything related to the article element itself(mini or not) */
  position: relative;
  background-color: #282828;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
  /* Write page */
  /* Read page */
}

.article:hover .article__cover_image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article--mini {
  cursor: pointer;
}

.article--mini:hover {
  border-color: #528BFF;
}

.article--mini__bookmark {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}

.article--mini__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.article__container {
  position: relative;
  padding: 1rem;
}

.article__cover {
  height: 350px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 2px solid #fff;
}

.article__cover_image {
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.article__likes {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__likes p {
  font-size: 1rem;
}

.article__likes span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.article__info time {
  display: block;
}

.article__info .avatar {
  margin-right: 0.5rem;
}

.article__title {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.article__tags {
  margin-bottom: 0.5rem;
}

.article__label--tag {
  color: #fff;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}

.article__input {
  width: 100%;
  background-color: unset;
  border: none;
  margin: 2rem 0;
  line-height: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #B2B6BB;
}

.article__input::-webkit-input-placeholder {
  font-size: 2rem;
  color: #B2B6BB;
}

.article__input:-ms-input-placeholder {
  font-size: 2rem;
  color: #B2B6BB;
}

.article__input::-ms-input-placeholder {
  font-size: 2rem;
  color: #B2B6BB;
}

.article__input::placeholder {
  font-size: 2rem;
  color: #B2B6BB;
}

.article__input--title {
  color: #fff;
  font-size: 2rem;
}

.article__input--content {
  font-size: 1rem;
}

.article__input--tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.article__input--tags:first-of-type {
  margin-top: 2rem;
}

.article__input--tag {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.article-write__edit, .article-write__preview {
  background-color: #282828;
  padding: 2rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
}

.article-write__actions {
  text-align: right;
  margin-bottom: 1rem;
}

.article-write__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-write__cover input {
  display: none;
}

.article-write__cover--mini-preview {
  width: 200px;
  height: 150px;
  margin-right: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article-write__cover__buttons {
  text-align: center;
}

.article-write__cover__buttons button {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

.article-write__cover__buttons #articleRemoveCoverButton {
  color: #F25757;
  background-color: #444F5B;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.article-write__login {
  background-color: #282828;
  border-radius: 0.25rem;
  padding: 2rem;
}

.article-write__login__message {
  text-align: center;
  margin-bottom: 3rem;
}

.article-write__login__message img {
  margin-bottom: 3rem;
  width: 50%;
}

.article-write__login__message div h1 {
  margin-bottom: 1rem;
}

.article-write__login__form {
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.article-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-read .article {
  width: 65%;
}

.article-read__actions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-read__actions div span {
  margin-top: 0.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.article-read aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.article-read__user {
  width: 25%;
}

.article-read__user .profile-image {
  margin-bottom: 1rem;
}

.article-read__user .profile-image a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-read__user .profile-image a img {
  margin-right: 0.5rem;
}

.article-read__user > div {
  background-color: #282828;
  border-radius: 0.25rem;
  border: 2px solid #fff;
}

.article-read__user > div:nth-child(1) {
  padding: 1rem;
  margin-bottom: 1rem;
}

.article-read__user > div:nth-child(1) p:nth-child(3) {
  text-transform: uppercase;
  color: #fff;
  margin-top: 1rem;
}

.article-read__user > div:nth-child(2) h3 {
  padding: 1rem;
  border-bottom: 2px solid #fff;
}

.article-read__user > div:nth-child(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-bottom: 2px solid #fff;
}

.article-read__user > div:nth-child(2) > div:last-child {
  border-bottom: unset;
}

.read {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.read .article {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .read {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .read .article {
    width: 65%;
  }
  .read aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
/*# sourceMappingURL=old_articles.css.map */